-i https://pypi.org/simple
asgiref==3.7.2; python_version >= '3.7'
django==4.2.6; python_version >= '3.8'
pillow==10.1.0; python_version >= '3.8'
psycopg2-binary==2.9.9; python_version >= '3.7'
sqlparse==0.4.4; python_version >= '3.5'
